/* 

    CSS Guide

    1. General Styles
    2. Grid
    3. Header
    4. Main Hero Image
    5. Features
    6. Footer

*/

/* 1. ---General Styles--- */


.hidden {
    display: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.box-color {
    background-color: black;
    color: white;
    text-align: center;
}

.box-color2 {
    background-color: #a7a7a7;
    text-align: center;
}

.grid {
    display: grid;
    padding-left: 15px;
    padding-right: 15px;
    grid-template-columns: repeat(12, 70px);
    grid-column-gap: 30px;
}
/* 2. ---Grid--- */

/* this is the exact same grid used in Adobe XD, we have recreated 
the grid using CSS. It is a class becasue we will use multiple grids */


/* 3. ---Header--- */

#main-header {
    margin-top: 40px;
    margin-bottom: 40px;
}
#header-logo {
    width: 270px;
    height: 100px;
    grid-column: 1/4;

}

#header-nav {
    height: 70px;
    width: 570px;
    grid-column: 7/-1;
    margin-top: 15px;
}
/* 4. ---Main Hero Image--- */

#hero {
    margin-top: 70px;
}
.hero-image {
    grid-column: 1/-1;
    width: 1170px;
    height: 670px;
    grid-row: 1/4;
}

#tag-line {
    grid-column: 1/7;
    grid-row: 2/3;
    height: 252px;
    width: 570px;
    margin-bottom: 20px;
}

#get-started {
    width: 270px;
    height: 100px;
    grid-column: 1/4;
    grid-row: 3/3;
    margin-top: 30px;
}

#hows-it-done {
    width: 270px;
    height: 100px;
    grid-column: 4/7;
    grid-row: 3/3;
    margin-top: 30px;
    margin-bottom: 50px;
}


/* 5. ---Features--- */

#features-con {
    margin-top: 50px;
}
.feature {
    width: 270px;
    height: 175px;
    grid-column: span 3;
}


#hero2 {
    margin-top: 70px;
}

#about-us {
    grid-column: 1/-1;
    width: 1170px;
    height: 495px;
    grid-row: 1/4;
    margin-top: 70px;
}

.about-us-image {
    grid-column: 1/-1;
    width: 570px;
    height: 495px;
    grid-row: 1/4;
}

#tag-line2 {
    grid-column: 7/-1;
    grid-row: 2/3;
    height: 265px;
    width: 570px;
    margin-bottom: 20px;
}

#learn-more {
    width: 270px;
    height: 100px;
    grid-column: 7/10;
    grid-row: 3/3;
    margin-top: 20px;
    margin-bottom: 40px;
}

#our-product {
    margin-top: 50px;
}


#tag-line3 {
    grid-column: 1/-1;
    height: 135px;
    width: 1170px;
}


#product-menu {
    margin-top: 50px;
}

.product-image {
    grid-column: 1/-1;
    width: 270px;
    height: 355px;
    grid-row: 1/4;
}

.products {
    width: 270px;
    height: 444px;
    grid-column: span 3;
}

.shop-now {
    width: 226px;
    height: 70px;
    margin-right: 22px;
    margin-left: 22px;
}

.shop-now h5 {
    margin-top: 0;
    font-size: 18px;
    padding-top: 10px;
    text-align: center;
    color: black;
}
/* 6. ---Footer--- */

#footer-con-full {
    height: 100px;
    margin-top: 150px;
}

#footer-nav {
    width: 640px;
    height: 70px;
    margin-top: 15px;
    grid-column: 1/8;
    margin-left: 20px;
}
